---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Activity from '../components/Activity.astro';
import LatestPosts from '../components/LatestPosts.astro';
import {getLatestPostList} from "../lib/notion.js";

const title = "你好";
const description = "你好";
const site = `https://www.wst.sh`;

const latestPostData = getLatestPostList(5);
// ssr
export async function getStaticProps() {
    return {
        props: {
            latestPostData
        }
    }
}
---
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={`${title ? title + title : title} ${description}`} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={site} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
</head>
<body>
<div class={"m-auto p-6"}>
    <Header/>
    <Activity/>
    <LatestPosts latestPostList={latestPostData}/>
    <Footer/>
</div>
</body>
</html>
